/*---------- body ----------*/

* {
    box-sizing: border-box;
 }

 a:visited,a:link{
    color: inherit;
}

::selection {
    color: #1d1d1d;
    background-color: #f1c40f;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color: rgb(255, 255, 255);
 }
/*---------- body ----------*/

/*---------- header ----------*/
header {
    user-select: none;
    padding: 20px 4% 5px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;

    box-shadow: 0 0px 20px rgb(0 0 0 / 20%);
 }

header #header_a {
    position: relative;
    top: -0.8rem;
    text-decoration: none;
    margin: 0; padding: 0;
    color: #4b4b4b;
    font-size: 35px;
    font-family: 'Secular One', sans-serif;
    
}
 
header #header_a2 li a {	
    position: relative;
    top: -0.8rem;
    text-decoration: none;
    color: #4b4b4b;
    font-size: 25px;
    font-family: 'Secular One', sans-serif;
}

header nav {
    margin: 0 0 0 auto;
}

header ul {
    list-style: none;
    margin: 0;
    display: flex;
}

header li {
    margin: 0 0 0 35px;
    /*font-size: 14px;*/
}
/*---------- header ----------*/

/*---------- main ----------*/

#main_page {
    width: 100%;
    min-height: 2000px;
}

#main_page_title {
    margin-left: 100px;
    color: #1b1b1b;
    font-size: 64px;
    font-family: 'Secular One', sans-serif;
}

#main_page_title_p {
    margin-left: 100px;
    color: #1b1b1b;
    font-size: 25px;
    font-family: 'Mochiy Pop One', sans-serif;
}







/*---------- main ----------*/

/*---------- footer ----------*/
footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 48px 24px;
    position: relative;
}

footer #footer_main {
    margin: 0;
    display: grid;
}

footer #a {
    grid-column: 1/3;
    grid-row: 1/2;
}
footer #b {
    grid-column: 1/2;
    grid-row: 2/3;
}
footer #c {
    grid-column: 2/3;
    grid-row: 2/3;
}/**/
#d\ social {
    grid-column: 1/2;
    grid-row: 4/5;
}
#e\ social {
    grid-column: 2/3;
    grid-row: 4/5;
}
footer #f {
    grid-column: 1/3;
    grid-row: 6/7;

    padding: 30px 0 0;
    margin: 50px 0 30px;
    border-top: 2px solid #fff;
}
footer #g {
    grid-column: 1/3;
    grid-row: 7/8;
}

#d\ social,#e\ social {
    align-items: center;
    display: flex;
}
#social_ul {
    list-style: none;
    display: flex;
}
#social_ul li {
    margin: 0 5px 0;
}

#social_ul li a {
    font-size: 32px;
}

#footer_main ul {
    list-style: none;
}

#footer_main #c a,#footer_main #b a {
    padding: 0;
    font-size: 25px;
    text-decoration: none
}
#footer_main #c,#footer_main #b {
    padding: 0;
}

#footer_main #g {
    display: flex;
    padding: 0;
    margin: 0;
}
#footer_main #g li {
    margin-right: 30px;
}
#footer_main #g li a {
    text-decoration: none;
}

/*---------- footer ----------*/
