#main_page {
    margin-left: 100px;
}

#scratch_project_list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
#scratch_project_list a {
    text-decoration: none;
}

.scratch_project {
    margin: 10px;
    padding: 10px;
    display: flex;
    box-shadow: 0 0px 20px rgb(0 0 0 / 20%);
    /*border: 10px solid #1b1b1b;*/
    /*border-radius: 10px;*/
    width: 500px;
}
/*
.scratch_project img {
    border-right: 10px solid #1b1b1b;
}*/
.scratch_project div {
    color: #4b4b4b;
    padding: 5px;
    margin: 0 0 0 10px;
    display: block;
    /*font-family: 'Secular One', sans-serif;*/
}

.scratch_project div h4{
    margin: 10px 0 10px 10px;
    font-size: 25px;
}
.scratch_project div p{
    margin: 5px 0 5px 10px;
    font-size: 15px;
}

#main_page h1 {
    margin: 20px;
    font-size: 64px;
    color: #1d1d1d;
}