#main_left_top #stats {
    margin-right: 15px;
    margin-top: 30px;
}
#main_left_top #stats h3 {
    padding-left: 25px;
    font-size: 15px;
}
#main_left_top #stats ul {
    margin-left: 20px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#main_left_top #stats ul li {
    font-size: 15px;
    padding: 0px 12px; 
    margin: 6px 8px 2px 2px;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 30px;
    color: #fff;
}
#main_left_top #stats ul li a {
    position: relative;
    top: 3px;
}




.project_tag ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0 0 5px;
}
.project_tag ul li {
    font-size: 11px;
    padding: 0px 6px; 
    margin: 6px 8px 2px 2px;
    height: 15px;
    background-color: #1d1d1d;
    border-radius: 30px;
}



.item-1 {
    display: flex;
    background-color: var(--item-1-color-background);
    color: var(--item-1-color-text);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 15px;
    border-left: 5px solid var(--item-1-color);
    border-radius: 10px;
    box-shadow: var(--item-1-shadow);
}
.item-1 ion-icon {
    fill: var(--item-1-color);
    font-size: 18px;
    position: relative;
    top: 8px;
    margin-right: 5px
}
.item-1 a, .item-1 p {
    text-decoration: none;
    color: var(--item-1-color-text);
    font-size: 15px;
    line-height: 2.5;
}
.item-1 a:hover {
    text-decoration: underline;
}
.item-1:nth-child(1) {
    --item-1-color: rgb(245, 51, 51);
    --item-1-shadow: 0 0px 5px rgba(255, 255, 255, 0.426);
    --item-1-color-text: #fff;
    --item-1-color-background: #15141a;
    width: calc(95% - 7px);
    max-width: 950px;
    margin-left: calc(10px);
    margin: 0 auto;
}